:root{
      --primary-color: rgb(10, 130, 177);
      --secondary-color: rgb(72, 203, 255);
      --fondo-claro: rgba(252, 252, 252, 0.734);
      --fondo-oscuro: rgba(0,0,0, .8);
}
*{
      margin: 5px;
      padding: 0px;
} /* para toda la pagina */
body{
      background:url(../HTML/imgs/bckgrnd.avif);
      background-attachment: fixed;
      margin: 0%;
}
.H1::selection{ /*Pseudoelemento seleccion*/
      background: var(--secondary-color);
}
.H1{
      display: flex; /*elemento flexible block para bloques*/
      justify-content: center;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: aliceblue;
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      box-shadow: 5px 5px 5px var(--primary-color);
} /* Para una clase en especifico */
.main{
      overflow: hidden;
}
.main section{
      width: 30%;
      font-size: 20px;
      float: left;
}
.links li{
      font-size:25px;
      list-style: none;
}
.links h2{
      color: aliceblue;
}
.links a{
      box-align: left;
      color: aliceblue;
      text-decoration: none;
      text-shadow:5px 5px 5px rgb(252, 251, 252);
}
.links a:hover{
      box-shadow: 5px 5px 5px var(--primary-color);
} /* Cambios cuando te encuentras sobre enlaces o objetos con hover */
.links img{
      float: left;
}
.follow{
      width: 300px;
      float: right;
      text-align: center;
}
.follow input, textarea{
      color: rgb(255, 255, 255);
      padding: 5px;
}
.follow input:focus{
      border: 3px var(--primary-color);
}
.follow input[type="submit"]{
      margin: 0;
      background: black;
}
.follow input[type="submit"]:hover{
      background: var(--primary-color);
      cursor: pointer;
}
.follow h2{
      position: relative;
      margin: 0px;
      width: 300px;
      text-align: center;
      color: aliceblue;
      border-radius: 10px;
      background-color: var(--fondo-oscuro);
}

.follow h2::after{ /*pseudoelemento formas simples sin usar javascript*/
      content: '';
      display: block;
      position: absolute;
      bottom: -20px     ;
      border-top: 10px solid var(--fondo-oscuro);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
      right: 50%;
}
.visit{
      height: 100px;
      position: relative;
      bottom: -5px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      top: 100px;
      background-color: var(--fondo-oscuro);
      border-radius: 5px; /*bordes redondeados*/
}
.visit h2{
      width: max-content;
      text-align: center;
      position: absolute;
      left: 45%;
      bottom: 0%;
      top: 0%;
      color: aliceblue;
}
.visit iframe{
      width: 99%;
      position: absolute;
      left: auto;
      top: 50%;
      style: margin 5px;
      border-radius: 10px;
}